@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  /* PT Sans Narrow */
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }
  html{
      height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans" sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background-color: white;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .main-container{
      flex-grow: 1;
      padding: 0;
      margin: 0;
  }
  .button{
    display: flex;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;  
  }
  .button-i-want-here{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 160px;
    height: 37px;
    border-radius: 4px;
  }

  .page-header {
      color: black;
      background-color: white;
  }
.navigation{
    display: flex;
    width: 1060px;
    height: 70px;
    margin: 0 auto;
}
.navigation-list{
    margin: 0;
    padding: 0;
    width: 400px;
    list-style-type: none;
    display: flex;
}
.navigation-user{
    width: 300px;
    margin-left: auto;
}
  .navigation-link {
    padding: 22px 20px;
    flex-wrap: wrap;
    display: block;
    font-family: "PT Sans", sans-serif; 
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: none;
  }
  .navigation-want{
    display: flex;
    padding-top: 13px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 70px;
    text-decoration: none;

  }
  .navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
  }
  .main-index {
    padding: 0;
    margin: 0;
    color: black;
    background-color: white;
  }
  .main-inner{
    padding: 0;
    margin: 0;
      color: white;
      background-color: white;
  }
  .header-background{
    background-image: url("../images/catalog-background-1.jpg");
    /*  */
    background-repeat: no-repeat;
    background-size: 1200px 408px;
    width: 1200px;
    height: 408px;
  }
  .page-container{
      width: 1200px;
      margin: 0 auto;
      /* background-color: tomato; */
  }

  .logo{
      display: block;
      padding-top: 51px;
      margin: 0 auto;
      margin-bottom: 25px;
  }
  .logo-background{
    /* background-image: url("../images/sedona-view.jpg"); */
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .logo-vector{
  /* padding-bottom: 51px; */
  }
  .inner-header-title{
    margin: 0;
      padding-left: 71px;
      padding-top: 31px;
      font-size: 60px;
      line-height: 77px;
      font-weight: 700;
      color:white;
  }
  .breadcrumbs-link{
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: white;
  }
  .advantages-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
      list-style-type: none;
  }
  .advantages-item{
      width: 400px;
      height: 384px;
  }
.advantages-item-img{
    width: 800px;
    height: 384px;
}
  .advantages-title {
      margin-top: 97px;
      margin-bottom: 30px;
      font-family: "PT Sans" sans-serif;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      text-align: center;
  }
  .advantages-main-title{
    padding-top: 63px;
      margin-top: 0;
      margin-bottom: 31px;
    font-family: "PT Sans" sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }
  .advantages-title-icon{
    margin-top: 23px;
    padding-bottom: 20px;
    font-family: "PT Sans" sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  .advantages-main-description{
    padding-bottom: 80px;
      line-height: 36px;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
  }
  .advantages-descripion{
      display: flex;
      flex-wrap: nowrap;
      width: 250px;
      height: 73px;
      margin: 0 auto;
    padding-bottom:79px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    background-color: tomato;
  }
  .advantages-images{
      padding-top: 108px;
  }
  .color-1 {
    color: white;
    background-color: black;
    background-image: url("../images/color-1.png"); 
    /* background-repeat: no-repeat; */
    /* background-size: auto;  */
  }
  .color-2 {
    color: black;
    background-color: white;
    background-image: url("../images/color-2.png");
    /* background-repeat: no-repeat;  */
    /* background-size: auto;  */
  }
  .color-3 {
    color: black;
    background-color: white;
    background-image: url("../images/color-3.png"); 
    /* background-repeat: no-repeat; */
    /* background-size: auto;  */
  }
  .color-4 {
    color: black;
    background-color: white;
    background-image: url("../images/color-4.png");
    /* background-repeat: no-repeat; */
    /* background-size: auto;  */
  }
  .catalog-filters{
      display: flex;
  }
.catalog-filter-group{
    width: 79px  auto;
}
.catalog-filter-title{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.catalog-filter-item{
    font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.inner-control-tittle{
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    color: black;
    font-family: "PT Sans" sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding-left: 0px;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-right: 111px;
    /* background-color: red; */
}
.selection-container{
    display: flex;
    flex-wrap: nowrap;
    width: 1057px;
    height: 48px;
    justify-content: center;
    margin-left: 71px;
    margin-top: 44px;
    margin-right: 72px;
    margin-bottom: 0;
    /* background-color: rebeccapurple; */
}
.select-control{
  display: flex;
  margin-bottom: 16px;
  margin-right: 72px;
  padding: 0px; 
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  width: 287px;
  height: 48px;
}
.button-dark{
  color: black;
  /* background-image: url("images/show-card.png"); */
    background-color:white;
    margin-right: 8px;
    width: 48px;
    height: 48px;
}
.button-light{
  /* background-image: url("..images/show-list.svg"); */
    background-color: white;
    margin-right: 8px;
    width: 48px;
    height: 48px;
}
.button-light-mix{
  /* background-image: url("..images/show-list-card.svg"); */
  background-color: white;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}
.selection-container .button {
    width: 56px;
    height: 48px;
  }
.hostel-container{
    padding-left: 92px;
    padding-right: 72px;
    padding-bottom:54px;
    padding-top:53px;
    border-bottom: 1px solid #E6E6E6;
}
.hostel-card{
  display: flex;
  flex-wrap: wrap;
    width: 340px;
    height: 438px;
}
.hostel-card-type{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  /* text-decoration: none; */
}
.hostel-card-price{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  /* text-decoration: none; */
}
.button-favorite-hostel-card{
  display: flex;
   width: 141px;
   height: 37px;
   margin-right: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
}
.button-more{
  margin-right: 26px;
  justify-content: space-around;
  align-items: center;
  width: 133px;
  height: 37px;
  text-align: center;
  border-radius: 4px;
}
.hostel-card-title{
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: black;
    text-transform: none;
    text-decoration: none;
     }
.hostel-card-list{
  text-decoration: none;
}
.hostel-card-rate{
  display: flex;
  width: 140px;
  height: 37px;
  margin-right: 40px;
  align-items: center;
  background-color: #F2F2F2;
  color: black;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
}
.stars{
  height: 37px;
  display: flex;
  align-items: center;
  margin-right:auto;
}
.chosen{
  color: white;
  background-color: #7DB54F;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.pagination-show-more{
    color: white;
    background-color: #83B3D3;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    width: 620px;
    height: 60px;
    margin-left: 290px;
    margin-right: 290px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  
}
.pagination{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: black;
    background-color: white;
}
.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 8px  30px;
    color: black;
    background-color: #83B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
  }
  /* .pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
} */
  .pagination-current{
    display: block;
    box-sizing: border-box;
    padding: 8px  30px;
    justify-content: space-between;
    color: black;
    background-color: #F2F2F2;
  }
  .pagination-container {
    display: flex;
    padding-left: 72px;
    padding-top: 30px;
    padding-bottom: 0; 
    background-color: white;
    border-top: 1px solid #E6E6E6;
  }
  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }
  .hostel-list{
      width: 1036px;
      height: 866px;
      list-style-type: none;
      margin: 0;
      padding: 0; 
      display: flex;
      flex-wrap: wrap;
  }
  .hostel-numbers-container{
      margin-left: 248px;
      display: flex;
      width: 386px;
      height: 48px;
  }
  .hostel-numbers{
    display: flex;
    margin-right: 51px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
      font-size: 18px;
      line-height: 23px;
      color: #333333;
  }
  .hostel-select-control{
      width: 160px;
  }
  .location{
    margin: 0;
    padding: 0;
    padding-top: 91px;
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    background-color: white;
    background-repeat: no-repeat;
    width: 1200px;
    height: 417px;
  }

  .location-title{
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      color: black;
  }
  .location-description{
      font-size: 22px;
      line-height: 26px;
      font-weight: 400;
  }
  .subscription-title-inner{
    color: black;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .subscription-title{
      color: white;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
  }
  .subscription-description{
    padding-top: 29px;
    padding-bottom: 46px;
      font-size: 22px;
      line-height: 26px;
      font-weight: 400;
      text-align: center;
      color: white;
  }
  .subscription-description-inner{
    padding-top: 46px;
    padding-bottom: 46px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: black;

  }
  .fieled{
      font-size: 18px;
      line-height: 26px;
      color: #000000;
  }
.subscription-button{
    background-color: #83B3D3;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0px 10px 10px 0px;
    /* background-size: auto; */
}

.subscription{
    margin: 0;
    padding: 0;
    padding-top: 91px;
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    background-image: url(../images/form-view.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
}
.subscription-inner{
    margin: 0;
    padding: 0;
    padding-top: 91px;
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    background-color: white;
    width: 1200px;
    height: 411px;
}
.page-footer {
    color: black;
    background-color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
}
.page-footer a {
    color: black;
  }
.page-footer-container{
    padding:0px;
    display: flex;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    justify-content: center;
    /* background-color: tomato; */
}
.footer-contact{
      padding: 0;
      /* display: flex;
      flex-wrap: nowrap; */
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 0 auto;
      margin-right: 0 auto;
      width: 720px;
      height: 50px;
      text-decoration: none;
      /* background-color: tomato; */
  }
  .footer-telephone-number{
      text-decoration: none;
  }
.footer-social-list{
    display: flex;
    flex-wrap: nowrap;
    margin: 49px;
    padding: 0;
    list-style-type: none;
    width: 140px;
    height: 30px;
  }
.footer-social-item{
    display: flex;
    flex-wrap: wrap; 
    margin-right: 8px;
    margin-bottom: 8px;
    width: 30px;
    height: 20px;
  }
  .footer-social-item:nth-child(3n) {
    margin-right: 0;
  }
  .footer-logo-htmlacademy{
      margin-top: 40px;
      margin-left: auto;
      margin-right: 72px;
      width: 115px;
      height: 34px;
  }
.breadcrumbs{
    display: flex;
    margin: 0;
    padding: 0; 
    color: white;
    list-style-type: none;
}
/* .cheap{

} */
.selection-container{
    display: flex;
    flex-wrap: nowrap;
    width: 1057px;
    height: 48px;
    justify-content: center;
    margin-left: 71px;
    margin-top: 44px;
    margin-right: 72px;
    margin-bottom: 73px;
}
.button-all{
  font-size: 20px;
  line-height: 36px;
  display: flex;
  width: 575px;
  border-radius: 10px;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin-left: 312px;
}
.youtube{
  background-color: white;
  text-decoration: none;
}
.facebook{
  background-color: white;
  text-decoration: none;
}
.twitter{
  background-color: white;
  text-decoration: none;
}
.footer-image-htmlacademy{
  text-decoration: none;
}